// File: theme-color.scss

// Define your variable overrides here
// $enable-shadows: true;
// $enable-gradients: true;
// $grid-breakpoints: (
//   xs: 0,
//   sm: 456px,
//   md: 789px,
//   lg: 999px,
//   xl: 1234px
// );
// $bv-enable-table-stacked: false;

$primary: #6C2375 !default;

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

$primary: #6C2375 !default;
// General style overrides and custom classes
// ...

/*
* === COLORS ===
*/
:root {
  --app-background-color: #eeeeee;
  --cell-border-color: #ffffff;
  --cell-open-color: #faf2ff;
  --grid-fade-color: #ffffff;

}

[theme="dark"] {
  --app-background-color: #282828;
  //--cell-border-color: #585858;
  //--cell-open-color: #8e7299;
  --cell-border-color: #d9d9d9;
  --cell-open-color: #d9d9d9;
  --grid-fade-color: #2d2d2d;
}


/*
* === STYLES ===
*/
.app-background {
  background-color: var(--app-background-color);
}
